:root{
    --main-color: hsl(297, 68%, 52%);
    --mains-color : hwb(180 26% 2%);
}

body{
    min-height: 100vh;
    max-width: 100% !important;
    display: grid;
    overflow-x: hidden;
    background-color: black !important;
    background-size: contain;
    background-image: url(esgibanner.jpg);
}
.stickymenu{
    font-size: 2rem;
    color: var(--mains-color) ;
    text-shadow: 0 0 0.015em hsl(0, 0%, 60% ),
    0 0 0.05em hsl(0, 0%, 60% ),
    0 0 0.15em hsl(0, 0%, 60% ),
    0 0 0.25em var(--mains-color),
    0 0 0.35em var(--mains-color),
    0 0 0.45em var(--mains-color),
    0 0 0.55em var(--mains-color)
    ;
    text-align: center;
    width: 100% !important;
    font-size: calc((.6em + 0.2vmin) + (.6em + 0.2vmax));
    opacity: 100%;
    top: 0px;
    z-index:;
    
}
.sticky{
    background-color: gray;
    height: 70px;
    position: fixed;
    padding: 0 !important;
    width: 100% !important;
    opacity: 100% !important;
    z-index: 2;

    max-width: 100% !important;
}
.style{
    font-size: calc((.5rem + 1vmin) + (.5rem + 2vmax));
    color: var(--main-color) ;
    text-shadow: 0 0 0.015em hsl(0, 0%, 60% ),
    0 0 0.05em hsl(0, 0%, 60% ),
    0 0 0.15em hsl(0, 0%, 60% ),
    0 0 0.25em var(--main-color),
    0 0 0.35em var(--main-color),
    0 0 0.45em var(--main-color),
    0 0 0.55em var(--main-color)
    ;
    text-align: center;
    font-family: Neonderthaw;    
    border: solid var(--main-color) 0.1em ;
    padding-left: 0.1em ;
    padding-right: 0.05em;
    padding-bottom: 0.45em; 
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0 0.3em var(--main-color) inset,
    0 0 0.4em var(--main-color);
    border-radius: 0.25em;
    position: relative;
    background-color: none;
    
}
.style::before{
    content:'';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transform: perspective(3em) rotateX(70deg);
    filter: blur(3em);
}



.texteimg{
    z-index: 1 !important;
    margin-top: 10% !important;
}
.ss{
    z-index: 1 !important;
}
.apropos{
    width: 70%;
    margin-top: 20px;
}
.apropostexte{
    text-align: center;
    font-size: calc((.2em + 2vmin) + (.2em + 2vmax));
    padding-top: 20px;
    color: var(--main-color);
    text-shadow: 0 0 0.015em hsl(0, 0%, 60% ),
    0 0 0.05em hsl(0, 0%, 60% ),
    0 0 0.15em hsl(0, 0%, 60% ),
    0 0 0.25em var(--main-color),
    0 0 0.35em var(--main-color),
    0 0 0.45em var(--main-color),
    0 0 0.55em var(--main-color);
}
.centerimg{
    margin: auto;
    padding-left: 10% !important;
    margin-top: 20px !important;
}
@media only screen and (max-width:790px){
    .menuicon{
        text-align: left;
        padding-left: 10% !important;
        font-size: 2em !important;
    }
    .centerimg{
        padding-left: 10px !important;
        
    }
}
.hiddenmenu{
    background-color: #808080 !important;
    z-index: 1 !important;
    padding-left: 10%;
    opacity: 00% !important;
    width: 100% !important;
}
.visiblemenu{
        background-color: #808080 !important;
        z-index: 1 !important;
        padding-left: 10%;
        opacity: 100% !important;
        width: 100% !important;
}
.dropdownmenu{
    color: var(--mains-color);
    text-shadow: 0 0 0.015em hsl(0, 0%, 60% ),
    0 0 0.05em hsl(0, 0%, 60% ),
    0 0 0.15em hsl(0, 0%, 60% ),
    0 0 0.25em var(--mains-color),
    0 0 0.35em var(--mains-color),
    0 0 0.45em var(--mains-color),
    0 0 0.55em var(--mains-color);
    text-align: left;
    padding-top: 20px;
}
.menubars{
    box-shadow: none;
    background: none;
    border: none;
    appearance: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    font: inherit;
    padding: inherit;
}